# Supyrb .gitignore standalone v0.1.7

# Unity generated
/.gradle/**
/Temp/**
/Library/**
/obj/**

# Visual Studio / Rider / MonoDevelop generated
/ExportedObj/**
/obj
/.vs/**
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

*.csproj
*.cache
*Resharper*
*ReSharper*
*.orig
*.orig.*
*sln*

.idea/**
/Assets/Plugins/Editor/Jetbrains/*
/Assets/Plugins/Editor/Jetbrains.meta

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
report.xml

# Custom
/Builds/**
/Data/**
/SHFB/Help/**
/Assets/Temp/**
/Assets/Temp.meta